<div class="container-fluid">
  <div class="row mb-1 mr-0 custom-border">
    <div class="col-md-2 border-right text-center">
      <img src="../../../assets/product.png" width="100px" height="100px" alt="">
    </div>

    <!-- Details article-->
    <div class="col-md-4 border-right">
      <div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-circle-info bleu-color"></i></div>
          <div class="col-md-11">Nom</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-circle-info bleu-color"></i></div>
          <div class="col-md-11">Prenom</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-phone bleu-color"></i></div>
          <div class="col-md-11">00 11 22 33 44 55 66</div>
        </div>

      </div>
    </div>

    <!-- Details catégories -->
    <div class="col-md-3 border-right mb-1 mt-1">
      <div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-house bleu-color"></i></div>
          <div class="col-md-10">Adresse 1 adresse 2</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-location-dot bleu-color"></i></div>
          <div class="col-md-10">12345 Ville</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-earth-europe bleu-color"></i></div>
          <div class="col-md-10">Pays</div>
        </div>
      </div>
    </div>

    <!-- Boutons -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-link no-underline">
            <i class="fa-solid fa-pencil"></i>&nbsp;Modifier
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link no-underline">
            <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link no-underline">
            <i class="fa-solid fa-list"></i>&nbsp;Détails
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
