<div class="container-fluid">
  <div class="row mb-1 mr-0 custom-border">
    <div class="col-md-2 border-right text-center">
      <img src="assets/product.png" width="100px" height="100px" alt="">
    </div>

    <!-- Details article-->
    <div class="col-md-4 border-right">
      <div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-circle-info bleu-color"></i></div>
          <div class="col-md-11 bleu-color">Nom</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-circle-info bleu-color"></i></div>
          <div class="col-md-11 bleu-color">Prenom</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-phone bleu-color"></i></div>
          <div class="col-md-11 bleu-color">011 22 33 44 55 66</div>
        </div>

      </div>
    </div>

    <!-- Details commandes -->
    <div class="col-md-3 border-right">
      <div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-qrcode bleu-color"></i></div>
          <div class="col-md-10 bleu-color">CMD-1233456789</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-calendar-check bleu-color"></i></div>
          <div class="col-md-10 bleu-color">12.12.2024</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-cart-arrow-down bleu-color"></i></div>
          <div class="col-md-10 bleu-color">LIVREE</div>
        </div>

      </div>

    </div>

    <!-- Boutons -->
    <div class="col-md-3">
      <div class="row">

        <div class="col-md-6 text-center">
          <button type="button" class="btn btn-link no-underline " data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-pencil-alt bleu-color"></i>&nbsp;
            Modifier
          </button>
        </div>

        <div class="col-md-6 text-center">
          <button type="button" class="btn btn-link no-underline " data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-trash-alt bleu-color"></i>&nbsp;
            Supprimer
          </button>
        </div>

      </div>
    </div>
  </div>

</div>



