<div class="col mb-3">
  <div class="col-md-12 mb-3">
    <img src="assets/product.png" width="200px" height="200px">
  </div>
  <hr>

  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fa-solid fa-circle-info bleu-color"></i>&nbsp;Information du client / fournisseur</h2>
    </div>

    <div class="col-md-12">
      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom" >
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse 1" >
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prenom" >
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse 2" >
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Email" >
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Ville" >
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Telephone" >
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Code postale" >
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          &nbsp;
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Pays" >
        </div>

      </div>

    </div>
  </div>

  <div class="col-md-12 text-right">
    <button class="btn btn-danger mr-3">
      <i class="fa-solid fa-ban"></i>&nbsp;Annuler
    </button>
    <button class="btn btn-primary mr-3">
      <i class="fa-solid fa-floppy-disk"></i>&nbsp;Enregistrer
    </button>

  </div>
</div>
