<div class="container-fluid">
  <div class="row mb-1 mr-0 custom-border">
    <div class="col-md-2 border-right text-center">
      <img src="assets/product.png" width="100px" height="100px" alt="">
    </div>

    <!-- Details article-->
    <div class="col-md-4 border-right">
      <div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-circle-info bleu-color"></i></div>
          <div class="col-md-11">Code article</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-circle-info bleu-color"></i></div>
          <div class="col-md-11">Désignation</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-dollar-sign bleu-color"></i></div>
          <div class="col-md-11">Prix HT</div>
        </div>
        <div class="row">
          <div class="col-md-1"><i class="fa-solid fa-dollar-sign bleu-color"></i></div>
          <div class="col-md-11">Prix TTC</div>
        </div>
      </div>
    </div>

    <!-- Details catégories -->
    <div class="col-md-3 border-right">
      <div class="row">
        <div class="col-md-2">
          <i class="fa-solid fa-flag-checkered bleu-color"></i>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">Code catégorie</div>
            <div class="col-md-12">Description catégorie</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Boutons -->
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-link no-underline">
            <i class="fa-solid fa-pencil"></i>&nbsp;Modifier
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link no-underline">
            <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link no-underline">
            <i class="fa-solid fa-list"></i>&nbsp;Détails
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
