.list-group {
  padding: 0;
}

.list-group-item {
  display: flex;
  align-items: center;   /* Assure que les éléments sont bien alignés verticalement */
  width: 100%;
  height: 50px; /* Fixe la hauteur */
  box-sizing: border-box;
  text-align: left; /* Aligne le texte à gauche pour les éléments */
  border-bottom: 1px solid #ddd; /* Bordure entre les éléments */
  margin-right: 10px;  /* Ajuste la valeur pour l'espacement que tu souhaites */
  font-size: 14px;    /* Taille de l'icône et du texte */

  /* Ajoute un petit espace entre l'icône et le texte */
  gap: 10px; /* Espacement entre l'icône et le texte */
}

.list-group-item i {
  font-size: 16px; /* Ajuste la taille de l'icône */
}

.accordion-button {
  display: flex;
  align-items: center;   /* Assure que l'icône et le texte sont centrés verticalement */
  justify-content: flex-start;  /* Aligne les éléments à gauche */
  padding: 10px 15px;  /* Un peu de padding autour du bouton pour aérer l'élément */
  font-size: 16px;    /* Ajuste la taille du texte dans le bouton */
}

.accordion-button i {
  font-size: 18px;   /* Ajuste la taille de l'icône dans le bouton */
  margin-right: 10px; /* Ajoute un espace entre l'icône et le texte */
}

.card {
  margin-bottom: 10px;
}
