<div class="container-fluid">
  <div class="row mb-1 mr-0 custom-border">


    <!-- Details article-->
    <div class="col-md-3 border-right mb-1 mt-1">
      <div class="row text-center">
        <div class="col-md-11">Code article</div>
      </div>
    </div>

    <!-- Details catégories -->
    <div class="col-md-3 border-right mb-1 mt-1">
      <div class="row">
        <div class="col-md-12 text-center">
          Designation article
        </div>
      </div>
    </div>

    <div class="col-md-2 border-right mb-1 mt-1">
      <div class="row">
        <div class="col-md-12 text-center">
          6
        </div>
      </div>
    </div>

    <div class="col-md-2 border-right mb-1 mt-1">
      <div class="row">
        <div class="col-md-12 text-center">
         12,3
        </div>
      </div>
    </div>

    <!-- Boutons -->
    <div class="col-md-2 mb-1 mt-1">
      <div class="row ">
        <div class="text-center">
          73,8
        </div>
      </div>
    </div>
  </div>

</div>

