<div class="container">
  <div class="d-flex justify-content-center">
    <div class="p-2 flex-fill">
      <button type="button" class="btn btn-warning w-100 text-nowrap">
        <i class="fa-solid fa-cloud-arrow-up"></i>&nbsp;Importer
      </button>
    </div>
    <div class="p-2 flex-fill">
      <button type="button" class="btn btn-success w-100 text-nowrap">
        <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp;Exporter
      </button>
    </div>
    <div class="p-2 flex-fill">
      <button type="button" class="btn btn-primary w-100 text-nowrap" (click)="bouttonNouveauClick()">
        <i class="fa-solid fa-plus"></i>&nbsp;Nouveau
      </button>
    </div>
  </div>
</div>

